@inherits LayoutComponentBase
@using AgileMind.Web.Components
@using AgileMind.Web.Components.Areas.Dashboard

<Header />

<main class="flex min-h-[calc(100vh-_theme(spacing.16))] bg-gray-900 flex-1 flex-row gap-4 p-4 md:gap-8 md:p-10">
    <Sidebar />
    @Body
</main>

<UserPrompt />

@code {
    // Tout code C# supplémentaire nécessaire pour MainLayout
}
