<nav class="hidden font-medium sm:flex flex-row items-center gap-5 text-sm lg:gap-6">
    <NavLink class="font-bold text-white" href="" Match="NavLinkMatch.All">
        Dashboard
    </NavLink>
    <NavLink class="text-gray-500" href="versions">
        Versions
    </NavLink>
    <NavLink class="text-gray-500" href="settings">
        Settings
    </NavLink>
</nav>
